apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog-devops-prod
  namespace: blog-prod
  labels:
    app: blog-devops
    env: prod
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  selector:
    matchLabels:
      app: blog-devops
  template:
    metadata:
      labels:
        app: blog-devops
        env: prod
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - blog-devops
            topologyKey: "kubernetes.io/hostname"
      initContainers:
      - name: init-config
        image: busybox
        command: ['sh', '-c', "mkdir -p /mnt/config && echo 'window.MY_POD_NAME = \"'$POD_NAME'\";' > /mnt/config/env.js"]
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        volumeMounts:
        - name: config-volume
          mountPath: /mnt/config
      containers:
      - name: blog
        image: 10.0.20.50:5000/blog-devops:ffe1574
        imagePullPolicy: Always
        env:
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        ports:
        - containerPort: 80
        volumeMounts:
        - name: config-volume
          mountPath: /usr/share/nginx/html/config
        resources:
          limits:
            cpu: "200m"
            memory: "256Mi"
          requests:
            cpu: "100m"
            memory: "128Mi"
      volumes:
      - name: config-volume
        emptyDir: {}
