apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog-devops-prod
  namespace: vibe-prod
  labels:
    app: blog-devops
    env: prod
spec:
  replicas: 3
  selector:
    matchLabels:
      app: blog-devops
  template:
    metadata:
      labels:
        app: blog-devops
        env: prod
    spec:
      containers:
      - name: blog
        image: 10.0.20.50:5000/blog-devops:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        resources:
          limits:
            cpu: "200m"
            memory: "256Mi"
          requests:
            cpu: "100m"
            memory: "128Mi"
