apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: blog
data:
  config.yaml: |
    tunnel: 2ae13e16-b71c-4a94-ae38-ebc54423615f
    metrics: 0.0.0.0:2000
    no-autoupdate: true
    ingress:
      - hostname: dev.mrozy.org
        service: http://blog-devops-dev.blog.svc.cluster.local:80
      - hostname: devops.mrozy.org
        service: http://blog-devops-service.blog-prod.svc.cluster.local:80
      - service: http_status:404
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudflared
  namespace: blog
  labels:
    app: cloudflared
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  selector:
    matchLabels:
      app: cloudflared
  template:
    metadata:
      labels:
        app: cloudflared
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - cloudflared
            topologyKey: "kubernetes.io/hostname"
      containers:
        - name: cloudflared
          image: cloudflare/cloudflared:latest
          args:
            - tunnel
            - --config
            - /etc/cloudflared/config/config.yaml
            - run
          env:
            - name: TUNNEL_TOKEN
              valueFrom:
                secretKeyRef:
                  name: cloudflared-tunnel
                  key: token
          livenessProbe:
            httpGet:
              path: /ready
              port: 2000
            initialDelaySeconds: 10
            periodSeconds: 10
          volumeMounts:
            - name: config
              mountPath: /etc/cloudflared/config
              readOnly: true
          resources:
            requests:
              cpu: 10m
              memory: 32Mi
            limits:
              cpu: 100m
              memory: 64Mi
      volumes:
        - name: config
          configMap:
            name: cloudflared-config
