apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog-devops-dev
  namespace: blog
  labels:
    app: blog-devops
    env: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: blog-devops
      env: dev
  template:
    metadata:
      annotations:
        vibe-devops/restartedAt: "2026-02-24T21:20:00Z"
      labels:
        app: blog-devops
        env: dev
    spec:
      initContainers:
        - name: init-config
          image: busybox
          command: ['sh', '-c', "mkdir -p /mnt/config && echo 'window.MY_POD_NAME = \"'$POD_NAME'\";' > /mnt/config/env.js"]
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          volumeMounts:
            - name: config-volume
              mountPath: /mnt/config
      containers:
        - name: blog
          image: 10.0.20.50:5000/blog-devops:9778885
          imagePullPolicy: Always
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
          ports:
            - containerPort: 80
          volumeMounts:
            - name: config-volume
              mountPath: /usr/share/nginx/html/config
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
      volumes:
        - name: config-volume
          emptyDir: {}
