apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source:
    chart: traefik
    repoURL: https://traefik.github.io/charts
    targetRevision: 34.0.0
    helm:
      values: |
        deployment:
          replicas: 3
        affinity:
          podAntiAffinity:
            preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    app.kubernetes.io/name: traefik
                topologyKey: "kubernetes.io/hostname"
        service:
          annotations:
            kube-vip.io/loadbalancerIPs: "10.0.20.20"
          spec:
            loadBalancerIP: 10.0.20.20
        ports:
          web:
            exposedPort: 80
          websecure:
            exposedPort: 443
        additionalArguments:
          - "--providers.kubernetesingress.ingressendpoint.ip=10.0.20.20"
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
