---
- name: Configure Kubeconfig on Kuznia
  hosts: masters[0] # Pobieramy z pierwszego mastera
  become: true
  tasks:
    - name: Fetch k3s.yaml from master
      fetch:
        src: /etc/rancher/k3s/k3s.yaml
        dest: /tmp/k3s_config_fetched
        flat: yes

- name: Deploy Kubeconfig to Kuznia
  hosts: kuznia
  become: true
  vars:
    # Odwolujemy sie do zmiennej z group_vars (vip)
    # Jesli nie jest dostepna bezposrednio, mozna ja wpisac na sztywno lub przez hostvars
    k3s_api_endpoint: "10.0.20.10" # Bierzemy z Twojego vars.yml (virtual_ip)

  tasks:
    - name: Ensure config directory exists
      file:
        path: /etc/rancher/k3s
        state: directory
        mode: "0755"

    - name: Copy Kubeconfig to Kuznia
      copy:
        src: /tmp/k3s_config_fetched
        dest: /etc/rancher/k3s/k3s.yaml
        mode: "0644"

    - name: Point config to Cluster VIP instead of localhost
      replace:
        path: /etc/rancher/k3s/k3s.yaml
        regexp: "server: https://127.0.0.1:6443"
        replace: "server: https://{{ k3s_api_endpoint }}:6443"
