apiVersion: v1
kind: Service
metadata:
  name: blog-devops-dev
  namespace: blog
  labels:
    app: blog-devops
    env: dev
spec:
  type: ClusterIP
  selector:
    app: blog-devops
    env: dev
  ports:
    - port: 80
      targetPort: 80
