---
# Główne zadania instalacyjne dla K3s. Konfigurujemy klaster w trybie HA.

- name: Set system hostname
  hostname:
    name: "{{ inventory_hostname }}"
  tags: [k3s_install]

- name: Install K3s on First Master (Init)
  shell: >
    curl -sfL https://get.k3s.io | sh -s - server 
    --cluster-init 
    --tls-san {{ virtual_ip }}
    --node-name {{ inventory_hostname }}
    --disable traefik
    --disable servicelb
  args:
    creates: /var/lib/rancher/k3s/server/node-token
  when: 
    - inventory_hostname == "k3s-master-0"
  tags: [k3s_install]

- name: Wait for node-token file to exist
  wait_for:
    path: /var/lib/rancher/k3s/server/node-token
  when: inventory_hostname == "k3s-master-0"
  tags: [k3s_install]

- name: Read node-token from First Master
  slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: node_token_encoded
  when: inventory_hostname == "k3s-master-0"
  tags: [k3s_install]

- name: Set k3s_token fact for all hosts
  set_fact:
    k3s_token: "{{ hostvars['k3s-master-0']['node_token_encoded']['content'] | b64decode | trim }}"
  run_once: true
  tags: [k3s_install]

- name: Join remaining Masters to Cluster
  shell: >
    curl -sfL https://get.k3s.io | K3S_TOKEN="{{ k3s_token }}" sh -s - server 
    --server https://{{ hostvars['k3s-master-0']['ansible_host'] }}:6443 
    --tls-san {{ virtual_ip }}
    --node-name {{ inventory_hostname }}
    --disable traefik
    --disable servicelb
  when: 
    - inventory_hostname != "k3s-master-0"
  tags: [k3s_install]

- name: Wait for node to register in Kubernetes
  command: /usr/local/bin/kubectl get node {{ inventory_hostname }}
  delegate_to: k3s-master-0
  register: node_check
  until: node_check.rc == 0
  retries: 30
  delay: 10
  when: inventory_hostname != "k3s-master-0"
  tags: [k3s_install]

- name: Label remaining nodes as Masters
  command: >
    /usr/local/bin/kubectl label node {{ inventory_hostname }} 
    node-role.kubernetes.io/master=true 
    node-role.kubernetes.io/control-plane=true 
    --overwrite
  delegate_to: k3s-master-0
  register: label_result
  until: label_result.rc == 0
  retries: 10
  delay: 5
  when: 
    - inventory_hostname != "k3s-master-0"
  tags: [k3s_install]
